*{
    margin: 0;
    padding: 0;
}
.mainHtml{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
.contenedorDetalleProducto{
    width: 90%;
    display: flex;
    justify-content: center;
    background-color: grey;
}
.detalleProductoDerecha{
    border-style: none none none solid;
    width: 50%;
    padding: 4rem 1rem 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.detalleProductoIzquierda{
    width: 50%;
}
.contCaritoComprarBack{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.detalleProductoContenedorRuta{
    display: flex;
    align-items: baseline;
}
.detalleProductoContenedorRuta>*{
    margin: 0.5rem 0 0 0.5rem;
}
.detalleProductoContenedorRuta a{
    color: black;

}
.detalleProductoContenedorFotosProductos{
    margin-top: 3rem;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}
.divGoToCartOrContinueShopping{
    display: flex;
    margin-bottom: 1rem;
}
.divGoToCartOrContinueShopping button{
    height: 1.5rem;
}
.divGoToCartOrContinueShopping p{
    margin: 0 0.5rem 0 0.5rem;
}
.logoProducto{
    height: 100px;
    width: 100px;
    object-fit: contain;
}
.fotoProducto{
    height: 400px;
    width: 400px;
    object-fit: contain;
}
.detalleProductoContenedorDescripcion{
    margin: 1.5rem 0 3rem 0;
}
.detalleProductoContenedorDescripcion>p{
    padding: 0 3rem 0 3rem;
}
.outOfStock{
    color: red;
}
.detallesProducto{
    margin-top: 1rem;
}
.detalleProductoCarrito{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 0.5rem;
}
.detalleProductoCarrito>input{
    width: 50px;
    height: 2rem;
    text-align: center;
}
.detalleProductoCarrito>button{
    width: 200px;
    height: 2rem;
}

@media (max-width: 800px) {
    .text {
      font-size: 16px;
    }
    .contenedorDetalleProducto{
        flex-direction: column;
    }
    .detalleProductoIzquierda{
        width: 100%;
    }
    .detalleProductoDerecha{
        width: 100%;
        border-style: dashed none none none;
    }
  }

