.navbar{
    padding: 0 !important;
}
body {
    background-color: rgb(255, 255, 255) !important;
    font-size:1rem;
}
.container-fluid{
    padding: .5rem 19rem;
    background-color: white;
   
}
.bg-light{
    background-color: white !important;
}
.carritoUser{
    transform:scale(1.4)
}
.rounded-circle{
    border-radius: 0 !important;
}
a{
    font-size: 1rem;
    color: white;
}
.containerNavbar{
    color: white
}

.form-inputs {
    position: relative
}

.form-inputs .form-control {
    height: 45px
}

.form-inputs .form-control:focus {
    box-shadow: none;
    border: 1px solid #000
}

.form-inputs i {
    position: absolute;
    right: 10px;
    top: 15px
}

.shop-bag {
    background-color: #000;
    color: #fff;
    height: 50px;
    width: 50px;
    font-size: 0.5rem;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center
}

.qty {
    font-size: 1.2rem
}
.containerInput{
    display: flex;
    justify-content: center;
    padding: .5rem 0;
}

.inputNavbar{
  text-align: center;
  height: 3rem;
  width:20rem;
}


/**/
.bg-light{
    background-color: rgb(255, 255, 255)!important;
}

.dropdown-toggle{
    background-color: transparent;
    border: 0px;
    margin-left: 5px;
}
.mb-lg-0{
    /* background-color: rebeccapurple; */
    width: 200px;
}
.dropdown-toggle{
    /* background-color: red; */
    text-align: start;
}
.btn-group{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
}